h1 {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
    padding-left: 10px;
}



h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

body {
  font-family: "Open Sans", "HelveticaNeue", Helvetica, Arial, sans-serif;
  margin: 0 0;
  padding: 0;
  color: #02282C; 
  font-size: 14px;
}

a {
  color: #0799AD;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
  color: #056571;
}
.sun{
  width: 35px;
}
.weather-ctr{
  display: inline-block;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 50%;
    top: 27%;
}
.sun-ctr {
  display: inline-block;
    vertical-align: middle;
}
.primary-button {
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.6em;
    font-size: 14px;
    border: 3px solid #D87A07;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
      background-color: #D87A07;
}
.primary-button:hover {
  background-color: #E78206;
  border-color: #E78206;
}
.search-ctr {
    width: 54%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.search-icon{
    position: absolute;
    right: 0px;
    margin-right: 12px;
    margin-top: 9px;
    z-index: 1;
    color: #0799AD;
}
.search-input-ctr{
  margin-top: 9px;

  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search::-webkit-input-placeholder {
   color: blue;
}
input {
  height: 29px;
  background-color: #fff;
  border: 1px solid #939595;
  color: #63717f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8A8888;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8A8888;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #8A8888;
}
:-moz-placeholder { /* Firefox 18- */
  color: #8A8888;
}

.SumoSelect>.CaptionCont>span.placeholder {
  font-style: normal;
  color: #8A8888;
}
.date-input{
    width: 81px;
    margin-left: 5px;
vertical-align: middle;
}
.time-label {
  vertical-align: middle;
}
.to{
  padding-left: 15px;
}
.search-input {
  width: 300px;
  height: 37px;
  background: #fff;
  border: none;
  font-size: 14px;
  color: #63717f;
  padding-right: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.time-inputs{
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.logo-container{
  display: inline-block;
  width: 70px;
  vertical-align: middle;
}
.heading-logo-container {
    width: 45%;
    display: inline-block;
}
.heading-section {
  position: relative;
    background-color: #056571;
   
    padding: 15px 90px;
    /*-moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;*/
    z-index: 2;
    /* position: fixed;
    width: 100%;*/
    border-bottom: 1px solid #919596;
}
.temp {
  padding-bottom: 5px;
}


/*filters*/
.filter-sctn {  
  z-index: 2;
    border: 1px solid #DEE0E0;
    background-color: #FBFBFB;
    padding: 15px 90px;
      min-width: 964px;

}
.filter-sctn .SumoSelect {
  padding-right: 30px;
}
.filter-select.SumoSelect .select-all.partial>span i, .SumoSelect .select-all.selected>span i, .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
  background-color: #0799AD !important;
}

.main-content-sctn {
  margin: 30px auto;
  max-width: 964px;
  min-width: 964px;

}
@media screen and (max-width: 1093px){
  .main-content-sctn{
    margin: 30px 30px;
  }
  .filter-sctn, .heading-section{
        z-index: 2;
    padding-right: 30px;
    padding-left: 30px;
  }
}
.select-all {
        margin-right: 15px;
      vertical-align: middle;
    padding: 0;
    height: auto;
}

.stuff-list-main-ctr {
  padding-top: 38px;
}
.stuff-item-container{
  border: 1px solid #DEE0E0;
    width: 92%;
    display: inline-block;
  vertical-align: middle;
  padding: 15px;
    height: 79px;
}
.stuff-img {
  display: inline-block;
  width: 20%;
  max-width: 80px;
  vertical-align: middle;
}
.stuff-name {
  display: inline-block;
  width: 15%;
}
.stuff-rating {

}
.stuff-column {
    width: 164px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.stuff-head-column{
      width: 164px;
      display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}
.right-head-stuff{
  display: inline-block;
  vertical-align: middle;
  width: 71%;
}
.stuff-item {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.right-content-stuff {
  display: inline-block;
  vertical-align: middle;
  width: 89%;
}
.select-all-ctr {
  width: 254px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.stuff-rating{
  margin-top: 5px;
}
.action-btns {
  position: absolute;
}
.checkin-btn{
      right: 40px;
    top: -9px;
    background-color: #fff;
    color: #D87A07;
}
.checkin-btn:hover{
  border-color: #E78206;
  background-color: #fff;
}
.delete-btn{
    right: -27px;
    top: 1px;
    font-weight: bold;
}
.delete-btn:hover{
  cursor: pointer;
  text-decoration: none;
}
.hidden .checkin-btn, .hidden .delete-btn, .undo-delete-ctr.hidden {
  visibility: hidden;
  display: none;
}
.undo-delete-ctr {
  background-color: #F8EEB8;

      padding: 10px;
    width: 810px;
    margin: 20px auto;
}
.stuff-name.no-img{
  width: 200px;
      padding-top: 20px;
    vertical-align: middle;
}
.right-content-stuff.no-img{
  width: 76%;
    vertical-align: middle;
}
.checkin-inputs {
  display: inline-block;
    vertical-align: top;
    margin-left: 33px;
    margin-top: -4px;

}
.checkin{
      width: 28px;
    margin-left: 5px;
}

/*datepicker*/
.ui-datepicker-header.ui-widgetheader.ui-helper-clearfix .ui-corner-all.ui-state-hover.ui-datepicker-prev-hover {
  background-color: #fff;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background: #fff;
  border: none;
}
.ui-widget-header {
  border: none;
  background-color: white;
}

.ui-widget-header .ui-icon, .ui-icon, .ui-widget-content .ui-icon {
  background-image: url("../media/arrow_left_black_24px.svg");
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  width: 24px;
  height: 24px;
}
.ui-icon-circle-triangle-w {
     background-position: 0 0;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: #0799AD;
}

.ui-datepicker .ui-datepicker-next span.ui-icon-circle-triangle-e {
  background-position: 0 0;
margin-left: -18px;
    margin-top: -9px;
    transform: rotate(180deg);

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border: none;
  background-color: white;
      width: 20px;
    height: 20px;
    text-align: center;
}
td .ui-state-default:hover{
  background-color: #E9E8E8;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  background-color: #0799AD;
}
/*.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none;
  background: #DEE0E0;
  font-weight: normal;
  color: #2b2b2b;
}*/
/*slider*/
.ui-widget.ui-widget-content {
  width: 200px;
}
#slider-range .ui-state-default,#slider-range .ui-widget-content .ui-state-default,#slider-range .ui-widget-header .ui-state-default,#slider-range .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #0799AD;
}
#slider-range .ui-corner-all,#slider-range .ui-corner-bottom,#slider-range .ui-corner-right,#slider-range .ui-corner-br{
  border-bottom-right-radius: 38px;
}

.ui-slider-handle.ui-corner-all,.ui-slider-handle.ui-corner-bl {
  border-bottom-left-radius: 38px;
}
#slider-range .ui-corner-all,#slider-range .ui-corner-top,#slider-range .ui-corner-right,#slider-range .ui-corner-tr {
      border-top-right-radius: 38px;
}
.ui-slider-handle.ui-corner-all, .ui-slider-handle.ui-corner-tl {
  border-top-left-radius: 38px;
}
.ui-state-default:hover, .ui-state-focus{
  background-color: #fff;
}
.ui-slider-range.ui-widget-header{
  background-color: #0799AD;
}
#slider-range{
  display: block;
}
#amount{
      width: 74px;
      background: none;
    color: #D87A07;
    border: 0;
    font-weight: bold;
}
.SumoSelect {
    width: 177px;
}
.SumoSelect>.CaptionCont{
  margin-top: 5px;
  text-align: left;
}
.SumoSelect>.optWrapper.multiple>.options li.opt {
  text-align: left;
}
.SumoSelect>.optWrapper>.options{
  text-align: left;
}
.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {
  box-shadow: none;
  border-color: none;
  }
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover { 
  background-color: #FBFBFB; }
.SumoSelect > .optWrapper > .options li.opt:hover { 
  background-color: #FBFBFB; }


.filter-sctn .SumoSelect{
  padding-right: 30px;
}
.inner-filter{
  margin: 0 auto;
      margin-left: -39px;
    text-align: center;
    padding-left: 17px;
}
.inner-filter.scroll{
  margin-left: -97px;
}
.ui-widget.ui-widget-content{
  z-index: 1;
}
.new-events.hidden, .no-checkins.hidden, .stuff-list-main-ctr.hidden, .no-results.hidden{
  display: none;
  visibility: hidden;
}
.no-results {
  text-align: center;
    border: 1px solid #DEE0E0;
    margin-top: 30px;
        padding: 30px;
}
.opt{
  position: relative;
}
.select-all-ctr .opt span {
      position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px;
}
.select-all-ctr .opt span i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #AEAEAE;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.15);
    background-color: #fff;
}
.fa-search:before {
  font-size: 18px;
}